<!-- views/app.ejs -->
<html>
    <meta charset="utf-8" />

    <head>
        <link rel="stylesheet" href="/common.css" type="text/css">
        <link rel="stylesheet" href="/home.css" type="text/css">
    </head>

    <body>
        <div class="center">
            <form class="saveUsername" method="POST">
                <div class="saveUsername__usernameMessage">
                    Username:
                </div>
                <input class="saveUsername__input" type='text' name='username' value='<%= username %>' />
                <% if (locals.message) { %>
                    <div class="saveUsername__error">
                        <%= locals.message %>
                    </div>
                <% } %>
                <button class="saveUsername__button">Save</button>
            </form>
        </div>
    </body>
</html>