.gameState {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.board {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.board__smallBoard {
    width: 186px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    position: relative;
}

.board__smallBoard--red {
    border: 2px solid red;
}

.board__smallBoard--blue {
    border: 2px solid blue;
}

.board__field {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    text-align: center;
    line-height: 60px;
    font-size: 40px;
}

.board__field--red {
    color: red;
}

.board__field--blue {
    color: blue;
}