.board {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.board__smallBoard {
    width: 186px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    position: relative;
}

.board__smallBoard--red {
    border: 2px solid red;
}

.board__smallBoard--blue {
    border: 2px solid #008CBA;
}

.board__smallBoard--ended {
    line-height: 186px;
    font-size: 140px;
    display: inline-block;
    flex-wrap: none;
    text-align: center;
}

.board__field {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    text-align: center;
    line-height: 60px;
    font-size: 40px;
}

.board__field--red {
    color: red;
}

.board__field--blue {
    color: #008CBA;
}

.blue {
    color: #008CBA;
}

.red {
    color: red;
}

.gameState { 
    font-size: 30px;
}

.gameState__players {
    padding: 5px 0;
}

.gameState__turn {
    padding: 5px 0;
}

.gameState__winner {
    padding: 5px 0;
}

.off {
    visibility: hidden;
}